.modal-body label{
  color: rgb(62, 62, 62);
}

button.btn.btn-primary {
    margin-bottom: 0px;
}

.form-control{
  height: 2rem;
}

/* .modal-backdrop {
    --bs-backdrop-zindex: 1050;
    --bs-backdrop-bg: #f01414 !important;
    --bs-backdrop-opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg)#ee0f0f !important;
} */