/* .st-grid-2{
    height: 430px;
}

.OurprofessionalImage{
    width: 100px;
} */

.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 20px;
}

.slide {
    flex: 0 0 25%;
    box-sizing: border-box;
    padding: 10px;
    transition: transform 0.5s ease;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cardHeader {
    background-color: #800000;
    color: #fff;
    padding: 15px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.ExpImg {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10px);
    border: 3px solid #790606;
}

.expFlag {
    display: flex;
    justify-content: center;
}

.cardContent {
    padding-top: .3rem;
    padding-bottom: 20px;
}

.card h2 {
    margin: 10px 0;
    font-size: 18px;
    color: #800000;
}

.card p {
    color: #777;
    font-size: 14px;
    text-align: left;
    margin-left: 3rem;
}

.tags {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tag {
    background: #eee;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 3px;
    font-size: 12px;
}

.experience {
    margin-left: 0;
    margin-right: 3rem;
    margin-top: 2rem;
    font-weight: bold;
    color: #555;
}

.flag {
    width: 30px;
    margin-top: 1rem;
}

.ExpName {
    margin-top: 65px;
    margin-bottom: 0px;
}

@media (max-width: 425px) {
    .slider {
        overflow: auto;
        white-space: nowrap;
    }

    .slide {
        flex: 0 0 80%;
        display: inline-block;
        width: 100%;
    }
}

.boldText {
    font-weight: bold;
}

