.blog-card {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  min-height: 400px;
}

.blog-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.blog-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.blog-details {
  font-size: 1rem;
  color: #555;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.btn {
  background-color: #151130;
  color: white !important;
  text-decoration: none !important;
}

.btn1 {
  background-color: #151130;
  color: white !important;
  text-decoration: none !important;
  padding: 10px 25px;
  margin-top: 50px;
  width: 200px;
  border-radius: 8px;
  text-align: center;
}

.btn:hover{
  background-color: #151130;
  color: white !important;
  text-decoration: none !important;
}