@media only screen and (min-width: 991px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    background-color: white;
    border-bottom: 2px solid #e0e0e0;
  }

  .nav-logo img {
    width: 180px;
  }

  .nav-menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }

  .nav-menu a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    transition: color 0.3s ease-in-out;
  }

  .nav-menu a:hover {
    font-weight: bold;
  }

  .nav-menuSelected {
    color: #ffffff !important;
    background-color: #2d42c6;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: normal;
  }

  .navButtonz {
    background-color: rgb(7, 3, 97);
    color: white;
    padding: 0.5rem 1rem;
    margin-right: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
  }

  .navButtonz:hover {
    background-color: white;
    color: #151130;
    padding: 0.5rem 1rem;
    margin-right: 10px;
    border-radius: 8px;
    border: 2px solid #151130;
    text-decoration: none;
    font-size: 14px;
  }

  .navbar2 {
    background-color: rgb(22, 17, 160);
    text-align: center;
    

  }

  .navbar2 ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 4px;
    text-decoration: none;
  }

  .navbar2 ul li {
    color: white;
    padding: 5px;
    text-decoration: none;
  }

  .navbar2 ul li a {
    color: white !important ;
    padding: 5px;
    font-size: 14px;
    text-decoration: none;
  }

  

  .navbar3 {
    background-color: #5161ce;
    text-align: center;
  }

  .navbar3 ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 4px;
    text-decoration: none;
  }

  .navbar3 ul li {
    padding: 10px;
  }

  /* .navbar3 ul li:hover {
    color: white !important;
  
    padding: 10px;
  } */

  .menuAnchor {
    color: white;
    padding: 4px;
    font-size: 14px;
    
  }

  .navbar3 ul li a:hover {
    text-decoration: none;
    color:white;
  }


  .tabSelected {
    background-color: #5161ce;
    color: #0f1e80 !important;
    margin: 5px 0px 0px 0px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    font-weight: bold;
  }

  .tabSelected2 {
    background-color: rgb(255, 255, 255);
    margin: 5px 0px 0px 0px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    font-weight:bold;

  }

  .tabSelected2 a{
    color:#06035b;
    font-weight:bold;
  }


  .ItemForHover li:hover {
    color: #0f1e80 !important;
    border-radius: 10px 10px 0 0;
    background-color: #5161ce;
    cursor: pointer;
    /* border: 1px solid #5161ce; */
  }

  .itemsForHover li:hover{
    background-color: rgb(64, 59, 224);
    color: #0f1e80 !important;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    margin: 5px 0px 0px 0px;

  }


  
}

@media only screen and (max-width: 991px) {
  .navbar2025 {
    display: none;
  }
}
