.floating_btn1 {
  position: fixed;
  left: 0;
  width: 200px !important;
  height: 290px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  bottom: 0;
  animation: marquee 30s linear infinite; /* Increase duration for slower scrolling */
}

.Chirstmas-Img{
  width: 100%;
}

/* Define marquee animation */
@keyframes marquee {
  0% {
      transform: translateX(100vw); /* Start off-screen right */
  }
  100% {
      transform: translateX(-100vw); /* Move off-screen left */
  }
}
