
.Blognext7{
    border: 1px solid black;
    padding: 17px;
    border-radius: 16px;
    margin-bottom:10px
}

.blogImg{
    width: 100%;
    border-radius: 8px;
    height: 100%;
}

.CategoryBlog{
    color:red
}

.blogHeading{
    font-weight: 600;
}

.blogHeading1{
    margin-top: 10px;
}

.DateSpan{
    font-weight: 600;
}

.blog-Container{
    padding-top: 30px;
    background-color: #f5f5f5;
}

.BlogCategoryCol{
    margin-top: 5px;
}

.blog-Ul{
    padding-left: 18px !important;
}

.BlogColImg{
    border: 1px solid black;
    padding: 17px;
    border-radius: 16px;
}
.BlogRow{
    display: flex;
    justify-content: space-around;
}

.BlogImgAdd{
    width: 100%;
    height: 100%;
}

.BlogColImgAdd{
    border: 1px solid black;
    padding: 17px;
    border-radius: 16px;
    
}

.BlogColImgAdd1{
    border: 1px solid black;
    padding: 17px;
    border-radius: 16px;
    margin-top: 10px;
}

.sticky-wrapper {
    position: sticky;
    top: 0;
    padding: 15px; /* Adjust padding as needed */
    background-color: #fff; /* Optional: Add background color for clarity */
}

.BlogRow {
    display: flex;
    justify-content: space-around;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: calc(100vh - 100px); /* Adjust height based on your layout */
    scroll-behavior: smooth; /* Smooth scrolling behavior */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}

.BlogRow::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

