* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #3d6ce3;
  width: 20%;
  border-radius: 3% 0% 0% 3% !important;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.tab button {
  display: block;
  background-color: inherit;
  color: #fff;
  padding: 16px 7px;
  width: 90%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  margin: 5%;
  border-radius: 4px;
  font-family: system-ui;
}

.tab button.active {
  background-color:#eef6ff;
  color: #3e3b3b;
  width: 100%;
  padding: 16px 21px;
  font-family: system-ui;
}

.tabcontent {
  float: left;
  padding: 4px 23px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  border-radius: 0 10px 10px 0;
  background-color: #eef6ff;
  display: none;
}

.tabcontent.activeTab {
  display: block;
}

.checkmark {
  color: green;
  margin-right: 4px;
}

.tablinks {
  font-weight: 600;
  font-family: poppins;
}


.TitleAll {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  color: var(--color-title);
}

@media (max-width:768px) {
  .GetEveryHead {
    display: none;
  }
}

li {
  list-style-type: none;
}

.Headingli {
  font-weight: 600;
}

.checkmarkli {
  color: #dce4e7;
  padding-left: 8px;
}

.portion1{
  padding: 18px;
}

.tablinks:hover{
background-color: #e6e6fa45;
}

