.marquee-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.marquee {
  display: flex;
  width: max-content;
  animation: scroll-left 60s linear infinite;
}

.marquee-card {
  min-width: 200px;
  max-width: 550px;
  margin-right: 20px;
  flex-shrink: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-wrapper:hover .marquee {
  animation-play-state: paused;
}

.btn2{
  width: 200px;
}

.buttonSeeAll{
  background-color: #151130;
  padding: 10px 30px;
  color: #ddd;
  border-radius: 6px;
  text-decoration: none;
}

.buttonSeeAll:hover {
  text-decoration: none ;
}
