.spanGap{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-right: 40px;
}

.card label {
    font-size: 40px;
    text-align: center;
}

.card p {
    text-align: center;
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

.gapping{
    padding: 16px 30px;
    border: 1px solid rgb(82, 177, 214);
}

label{
    color: black;
}

strong {
    color: rgb(52 119 145);
}
.cardGoal{
    height: 161px;
}
.uploadContainer{
    text-align: center;
    margin-top: 30px;
    border: 2px dotted rgb(52 119 145);
    padding:10px ;
}

.shade{
    box-shadow: 0px 4px 4px #5e8ede;
    margin-bottom: 20px;
}

.Alignments{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 11px;
    margin-top: 15px;
}

.Sizy{
    width: 30%;
}

.uploadContainer h5{
margin-top: 20px;
}

.Decor{
    padding: 20px;
    border: 2px solid #3480ac;
}






  


